.parent__cont {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.graph__cont {
    width: 60%;
    height: 60%;
}

.info__buy__sell__parent__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.info__cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: 5%;
}

.info__cont div {
    padding: 5px;
}

.info__stock__name,
.info__stock__conference,
.info__stock__short_name,
.info__stock__shares,
.info__stock__price,
.info__stock__icon {
    display: flex;
    justify-content: center;
}

.info__stock__name {
    font-weight: bold;
    font-size: 30pt;
    font-family: 'Josefin Sans', sans-serif;
}

.info__stock__short_name {
    font-weight: bold;
    font-style: italic;
}

.info__stock__conference,
.info__stock__short_name,
.info__stock__shares {
    font-size: 16pt;
    font-family: 'Roboto', sans-serif;
}

.info__stock__shares {
    margin-top: 30px;

}

.info__stock__price {
    font-size: 24pt;
    font-family: 'Roboto', sans-serif;
}

.info__stock__icon img {
    height: 100px;
    width: 100px;
}

.buy__sell__cont {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.buy__cont,
.sell__cont {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.buy__cont div,
.sell__cont div {
    padding: 5px;
    font-size: 16pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.buy__title,
.sell__title {
    font-weight: bold;
}

.buy__quant__input,
.sell__quant__input {
    padding: 5px;
    margin: 0px;
}

@media screen and (max-width: 1335px) {
    .buy__sell__cont {
        display: block;
    }

    .buy__cont,
    .sell__cont {
        display: block;
        margin: 20px;
    }
}

@media screen and (max-width: 768px) {
    .parent__cont {
        display: block;
    }
    .graph__cont {
        width: 100%;
        height: auto;
    }
}
