/* Navigation Style */
body {
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    top: 0;
    width: 100%;
    background: #000;
}

.spacer{
    min-height: 70px;
}

nav .left {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav .right {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    margin: 0 3%;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

nav a:hover {
    transition: .5s;
    color: #FFAA01;
}

nav .active {
    color: #FFAA01;
}

button {
    cursor: pointer;
}

#logout {
    border: 0px;
    margin: 0 5% 0 3%;
    color: #fff;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

#sign-up, #logout {
    background: #097A00;
    padding: 15px;
    border-radius: 35px;
}

#sign-up:hover, #logout:hover {
    transition: .5s;
    color: #000;
    background: #FFAA01;
    padding: 15px;
    border-radius: 35px;
}

#sign-up.active {
    color: #000;
    background: #FFAA01;
}

#running-simulator {
    margin-bottom: 3%;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}

.search-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.search-list {
    position: absolute;
    background-color:#101010;
    width: 250px;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.search-result {
    height: 40px;
    padding: 0px;
    border-top: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.search-result > p {
    font-size: 10pt;
}

img.icon {
    height: 20px;
    width: 20px;
    margin: 0px 5px;
}

.search-input {
    width: 226px;
    margin: 5px 0px;
}

.search-input:focus ~ .search-results {
    display: block;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.message {
    padding-top: 4%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, .7);
    font-size: 1.25em;
    cursor: default;
}

@media screen and (max-width: 1100px) {
    .search-container {
        display: none;
    }
}

@media screen and (max-width: 870px) {
    #sign-up, #logout {
        padding: 10px;
    }
    #sign-up:hover, #logout:hover {
        padding: 10px;
    }
}

/* Global Styles */
#root {
    background: #000;
}

.content {
    background: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

button {
    padding: 15px;
    border: 0px;
    border-radius: 35px;
    background: #097A00;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 18px;
}

button:hover {
    transition: .5s;
    color: #000;
    background: #FFAA01;
    border-radius: 35px;
}

@media screen and (max-width: 870px) {
    .content {
        padding-top: 68px;
    }
}

/* Footer */
footer .footer-top {
    display: flex;
    flex-direction: column wrap;
    justify-content: space-between;
    align-items: top;
    padding: 10px 4%;
    border-top: 2px solid #FFAA01;
    color: #fff;
    background: #000;
}

footer .footer-left {
    width: 25%;
    padding: 10px;
    margin: 0 auto;
}

footer .footer-middle {
    width: 50%;
    padding: 10px;
    margin: 0 auto;
}

footer .footer-right {
    width: 25%;
    padding: 10px;
    margin: 0 auto;
}

footer .bottom-bar {
    padding: 10px 4%;
    color: #fff;
    background: #000;
}

footer .bottom-bar hr {
    border: 1px solid #555;
}

footer h6 {
    margin: 8px 0;
    font-size: 16px;
}

footer p {
    font-size: 16px;
    line-height: 24px;
}

footer a {
    color: #fff;
}

footer a:hover {
    transition: .5s;
    color: #FFAA01;
}

@media screen and (max-width: 870px) {

    footer .footer-top {
        max-width: 100%;
        display: block;
        padding: 10px;
    }

    footer .footer-left {
        width: 95%;
    }

    footer .footer-middle {
        width: 95%;
    }

    footer .footer-right {
        width: 95%;
    }
}
