.BrowseTeamHeader {
    margin-bottom: 20px;
}

.buy-page {
    padding-bottom: 15px;
}

.team-header {
    display: flex;
    justify-content: center;
}

.team-container:nth-child(odd) {
    background: rgba(250, 250, 250, .3);
}

.team-container:nth-child(even) {
    background: rgba(250, 250, 250, .15);
}

.team-container.head {
    background: #000;
    border-bottom: 2px solid #FFAA01;
    border-radius: 0px;
}

.team-container:nth-child(odd):hover,
.team-container:nth-child(even):hover {
    background: rgba(255, 170, 1, .75)
}

.team-container.head:hover {
    background: #000;
}

.team-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr 1fr 2fr 1fr;
    border-radius: 35px;
    margin: 5px 10%;
    color: #fff;
}

.team-container div {
    padding: 0px 10px;
}

.team-details {
    display: flex;
    align-items: center;
}

.team-details a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.team-details a:hover {
    transition: .5s;
    color: #000;
}

.team-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-icon img {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 1050px) {
    .team-conf,
    .team-shares,
    .team-price {
        display: none;
    }

    .team-container {
        grid-template-columns: 1fr 3fr 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .team-details-header,
    .team-abbr {
        display: none;
    }

    .team-container {
        border-radius: 0px;
    }

}
