.ArticleCard__cont {
    padding: 5%;
    border: 1px solid #FFAA01;
    border-radius: 5px;
    margin: 10px;
    background: #fff;
    /* height: 80%;
    max-height: 100px; */
}

.ArticleCard__title {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    font-size: 18px;
}

.ArticleCard__score {
    margin-top: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    color: #097A00;
}

.ArticleCard__date {
    font-size: 14px;
}

@media screen and (max-width: 903px) {
    .ArticleCard__cont {
        height: 100%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}
