.watchlist {
    display: flex;
    align-items: center;
    height: 100%;
    background: #000;
    text-align: center;
    overflow-x: scroll;
}

.watchlist > div {
    height: 100%;
    padding: 2% 3%;
}

.empty-list {
    margin: 0 auto;
    padding: 10%;
    height: 100%;
}

.empty-list h3 {
    font-size: 24px;
    margin-top: 0;
    color: #fff;
    opacity: .7;
}
