.watchlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #000;
    text-align: center;
    overflow-x: scroll;
    /* margin: 2% 3%; */
}

.watchlist > div {
    margin: 2% 3% 4%;
}

.empty-list {
    padding: 10%;
    height: 100%;
}

.empty-list h3 {
    font-size: 24px;
    margin-top: 0;
    color: #fff;
    opacity: .7;
}
